@font-face{
	font-family: 'OpenSans';
	src: url('../font/2211.ttf');
}
@font-face{
	font-family: 'OpenSans-Light';
	src: url('../font/2209.ttf');
}
@font-face{
	font-family: 'OpenSans-Bolt';
	src: url('../font/2204.ttf');
}
@font-face{
	font-family: 'OpenSans-Light-Italic';
	src: url('../font/2210.ttf');
}
@font-face{
	font-family: 'Lato';
	src: url('../font/9622.ttf');
}
@font-face{
	font-family: 'LatoBolt';
	src: url('../font/9623.ttf');
}
body {
	margin: 0;
	padding: 0;
	font-family: 'OpenSans', serif;
}
div {
	box-sizing: border-box;
}
header{
	max-width: 1180px;
	height: auto;
	display: flex;
	justify-content: space-between;
	position: absolute;
	z-index: 1;
	margin-top: 20px;
	align-items: center;
	margin-left: 75px;
}
/*.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}*/


/*.nav__bar__menu {*/
/*padding: 0;*/
/*margin: 0;*/
/*display: block;*/
/*}*/
.nav__bar__menu li {
	display: inline-block;
	margin-left: 75px;
}
.nav__bar__menu a {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}
.slider img{
	width: 100%;
}
.slider{
	width: 100%;
	position: relative;
	margin: auto;
}
.slider__slide{
	text-align: center;
}
.slider__text {
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	margin-top: 304px;
	position: absolute;
	z-index: 1;
}
.slider__main__title {
	font-size: 30px;
	letter-spacing: 9px;
	margin: 0;
	font-family: OpenSans-Light, sans-serif;

}
.slider__other__title h2 {
	font-size: 60px;
	font-weight: 600;
	font-family: OpenSans-Bolt, serif;
	margin-top: 20px;
	margin-bottom: 2%;
}
.slider__other__title p {
	font-size: 30px;
	margin: 0;
	font-family: OpenSans-Light, serif;
}
.slider__btn button {
	display: inline-block;
	width: 200px;
	padding: 20px;
	color: #fff;
	border: 2px solid #fff;
	text-align: center;
	outline: none;
	text-decoration: none;
	background-color: transparent;
	font-weight: bold;
	margin-top: 40px;
	cursor: pointer;
	font-size: 18px;
}
.slider img{
	width: 120%;
	transform: translate(-10%);
}
.dot{
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	/*transition: background-color:0.6s ease;*/
}
.dot_2{
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	/*transition: background-color:0.6s ease;*/
}
.active, .dot_2:hover{
	background-color: #717171;
}
.active, .dot:hover{
	background-color: #717171;
}
.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration:1s;
	animation-name:fade;
	animation-duration:1s;
}
/*@-webkit-keyframes fade{
	0%{opacity:0.4;}
	100%{opacity:1;}
}*/
@keyframes fade{
	0%{opacity:0.4;}
	100%{opacity:1;}
}
.btn {
	display: inline-block;
	padding: 1%;
}
.enabled button{
	background-color: rgba(224, 208, 208, 0);
	border: 1px solid #fff;
}
.slider__nav{
	text-align: center;
	/* padding: 2%; */
	transform: translateY(-60px);
	/* position: absolute; */
}
.container__products {
	max-width: 1180px;
	margin: 0 auto;
}
.container__caption {
	font-size: 40px;
	font-style: italic;
	text-align: center;
	font-family: OpenSans-Light-Italic, sans-serif;
}
.container__caption hr {
	border-color: #FF0000;
	width: 5%;
}
.conteiner__products__categories {
	width: 100%;
	/* height: auto; */
	padding: 11px 0;
	display: flex;
	justify-content: center;
	/* flex-direction: row; */
	margin-top: 50px;
}
.conteiner__products__categories a{
	text-decoration: none;
}

.catecories__content p{
	/* margin-bottom: 30px; */
	font-style: italic;
	font-size: 40px;
	text-align: center;
	color: #fff;
	font-family: OpenSans-Light-Italic, sans-serif;
	/* height: auto; */
}
.post {
	 /*width: 100%; */
	margin: auto 10px;
	padding: 27px;
	width: 370px;
	height: 420px;
	margin-left: 20px;
}

.catecories__1 {
	flex: auto;
}
.catecories__2 {
	/* width: 100%; */
	/* height: 100%; */
	/* margin-left: 2%; */
	/* margin-right: 2%; */
	vertical-align: middle;
}
.conteiner__products__shares {
	width: 100%;
	/* height: auto; */
	padding: 11px 0;
	display: flex;
	justify-content: center;
	/* flex-direction: row; */
	margin-top: 7px;
}
/*.conteiner__products__shares img {*/
	/*width: 100%;*/
/*}*/
.conteiner__products__shares hr {
	border-color: #FFF;
	width: 26%;
}
.sale {
	width: 100%;
	margin: auto 10px;
	padding: 27px;
	height: 420px;
}
.sale__hr {
	margin-top: 19%;
}
.sale__content {
	font-size: 2.5vw;
	font-weight: bold;
	color: #fff;
	text-align: center;
	width: 35%;
	position: absolute;
}
.sale__content p{
	margin: 0;
	font-size: 45px;
	font-family: Lato, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*.shares__1 {*/
	/*flex: auto;*/
/*}*/
/*.shares__2 {*/
	/*width: 100%;*/
	/*height: 100%;*/
	/*margin-left: 2%;*/
/*}*/
#conteiner__item {
	background-color: #DCDCDC;
}
.conteiner__item {
	max-width: 1180px;
	margin: 0 auto;
}
.conteiner__item__product {
	width: 100%;
	height: auto;
	margin-top: 1%;
	display: inline-flex;
	flex-direction: row;
}
.conteiner__item__product img{
	width: 100%;
}
.item {
	width: 100%;
}
.conteiner__item__product__img {
	flex: auto;
}
.container__item__product__description {
	width: 100%;
	height: 100%;
	margin-left: 2%;
}
.container__item__product__description__text h1 {
	font-weight: bold;
	color: #FF0000;
	font-family: 'Lato', serif;
	margin: 0;
	font-size: 2.6vw;
}
.container__item__product__description__text p {
	color: #A9A9A9;
	font-size: 1.3vw;
}
.container__item__product__description hr {
	width: 10%;
	color: #000;
}
.ghost-button {
	display: inline-block;
	width: 10%;
	padding: 8px;
	color: #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #A9A9A9;
	border-right: 1px solid #A9A9A9;
	text-align: center;
	outline: none;
	text-decoration: none;
	margin-right: 5%;
}
.container__item__product__description__main__btn .ghost-button {
	margin-top: 5%;
	width: 30%;
	margin-right: 5%;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.conteiner__item__product__slider button {
	border-radius: 50%;
	padding: 5px;
}
.size__enabled{
	background-color: #000;
	color: #fff;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.container__item__btn__slider button {
	width: 1%;
	height: 1%;
	border-radius: 50%;
	border: 1px solid #fff;
	background-color: #808080;
	padding: 5px;
}
.container__item__btn__slider .enabled button{
	background-color: #fff;
	border: 1px solid #FF0000;
}
.container__item__btn__slider{
	text-align: center;
	padding: 2%;
}
.container__blog {
	width: 70%;
	margin: 0 auto;
}
.container__blog__row {
	width: 100%;
	height: auto;
	margin-top: 1%;
	display: inline-flex;
	flex-direction: row;
}
.container__blog__row img{
	width: 100%;
}
.conteiner__blog__col__1 {
	flex: auto;
}
.conteiner__blog__col__2 {
	width: 100%;
	height: 100%;
	margin-left: 2%;
}
.container__blog__row h1 {
	font-weight: bold;
	color: #FF0000;
	font-family: 'Lato', serif;
	margin: 0;
	font-size: 1.7vw;
}
.container__blog__row h4 {
	color: #000;
	font-size: 1vw;
}
.container__blog__row p {
	color: #A9A9A9;
	font-size: 0.9vw;
}
.container__blog__row .ghost-button {
	margin-top: 5%;
	width: 30%;
	margin-right: 5%;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	margin-bottom: 5%;
	font-size: 1.5vw;
}
footer{
	background: url(../img/footer.png) no-repeat center top / cover;
}
.conteiner__footer{
	width: 70%;
	margin: 0 auto;
}
.conteiner__footer__content__btn .ghost-button {
	width: 100%;
	margin-right: 5%;
	border: 1px solid #fff;
	margin-bottom: 5%;
	background-color: #fff;
	font-size: 1.5vw;
	font-weight: bold;
}
.conteiner__footer__content {
	width: 100%;
	height: auto;
	margin-top: 1%;
	display: inline-flex;
	flex-direction: row;
}
.conteiner__footer__content__edit input{
	border: 1px solid #fff;
	text-transform: uppercase;
	background-color: transparent;
	padding: 4%;
	color: #fff;
}
.conteiner__footer__content__edit {
	flex: auto;
}
.conteiner__footer__content__btn {
	width: 100%;
	height: 100%;
}
.conteiner__footer__text h3{
	font-size: 1.2vw;
	color: #fff;
}
.conteiner__footer__text{
	margin-top: 5%;
}
.footer__item{
	width: 100%;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
	color: #fff;
}
.prev, .next {
	cursor: pointer;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
.next{
	right: -100px;
	border-radius: 3px 0 0 3px;
	position: absolute;
}
.prev:hover, .next:hover{
	background-color: rgba(113, 113, 113, 0);
	border: 1px solid #fff;
}
.slider__slides_3{
	position: relative;
}
.btn{
	position: absolute;
}
.prev{
	left: -100px;
}
.container_border{
	width: 114px;
	height: 3px;
	margin: 0 auto;
	background-color: red;
}
.container__caption p{
	padding: 10px;
	margin: 7px;
}
.catecories__1{
	background: url(../img/product_men.png) no-repeat center top;
	background-size: cover;
}
.catecories__2{
	background: url(../img/product_woman.png) no-repeat center top;
	background-size: cover;
}
.catecories__3{
	background: url(../img/product_watches.png) no-repeat center top;
	background-size: cover;
}

.catecories__content{
	border: 3px solid #fff;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}
.slider__slides{
	overflow: hidden;
}
#container__products{
	margin-top: 200px;
}
.shares__1{
	background: url(../img/product_40.png) no-repeat center top;
	background-size: cover;
}
.shares__2{
	background: url(../img/product_sale.png) no-repeat center top;
	background-size: cover;
}
.shares__1 {
	flex: auto;
}
#conteiner__item{
	margin-top: 107px;
}
